body {
    margin-top: 20px;
    background-image: url('http://bgfons.com/uploads/wood/wood%20_texture1757.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.glyphicon {
    float: right;
    margin-top: 7px;
}

.col-sm-8 {
    width: 550px;
}

#note button {
    background-color: #2EFEF7;
    width: 35px;
    height: 35px;
    margin-bottom: 5px;
}

input[type="text"] {
/*    background: rgba(255,255,255,0.1);*/
    background: transparent;
    border: none;
    width: 234px;
}

.row button {
    background: transparent;
    font-weight: bolder;
}



/*.row button {
    background-color: #BDBDBD;
}*/
